@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background:#442c61 ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-login{
    background:#bc8ae1;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #000000;
}

.card-login h1{
    color:#543b6c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 0;
    text-transform: uppercase;
        
}

.textfield{
    color:#543b6c;
    display: flex;
    flex-direction: column;
    margin: 0px 25px 0px 25px;
    font-size: 20px;
}

.textfield input{
    background: transparent;
    outline: 0;
    border: 0;
    margin: 10px;
}

.btn-login{
    width: 50%;
    color: white;
    letter-spacing: 5px;
    
    background: #543b6c;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 0 0 70px;
    
    

}

.btn-login:hover{
    background-color: transparent;
}